body {
  margin: 0;
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 20px;
  overflow-x: hidden;
}

#sky {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  background-image: linear-gradient(rgba(1, 17, 241, 0.452), rgba(0, 110, 255, 0.76));
  overflow: hidden;
  z-index: 0;
}

@keyframes floatUp {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-120vh); /* sobe além do topo da tela */
  }
}

.cloud {
  position: absolute;
  top: 100vh; /* começa fora da tela (embaixo) */
  animation-name: floatUp;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  z-index: 0;
}


.container {
  background: rgba(143, 211, 238, 0.486);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  margin: auto;
  position: relative;
  z-index: 1;
}

input, select, button {
  margin-top: 10px;
  padding: 10px;
  width: 100%;
  border: 1px solid #35bb4b;
  border-radius: 5px;
  /*left: 500px;*/
}

button {
  background-color: #007BFF;
  color: white;
  font-size: 16px;
  cursor: pointer;
  left: 100px;
}

button:hover {
  background-color: #2580e2;
}

.resumo {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
  text-align: left;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  animation: fadeIn 1s ease;
  z-index: 1;
  position: relative;
}

.resumo button {
  margin-top: 10px;
  margin-right: 10px;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.resumo button:first-of-type {
  background-color: #007BFF;
  color: white;
}

.resumo button:last-of-type {
  background-color: #28a745;
  color: white;
}

.resumo button:hover {
  opacity: 0.9;
}

@keyframes fadeIn {
  from {opacity: 0; transform: translateY(20px);}
  to {opacity: 1; transform: translateY(0);}
}
